@import url(reset.css);
:root {
  --black: #000;
  --white: #fff;
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;
  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;
}
*::before,
*::after,
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  height: 100%;
  background-color: var(--light-blue-300);
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  font-size: 1.6rem;
  font-weight: 400;
}
header {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 1rem;
}
footer {
  margin-top: 2rem;
}
.fw-light {
  font-weight: 200;
}
.fw-bold {
  font-weight: 600;
}
.fs-s {
  font-size: 1.2rem;
}
.fs-m {
  font-size: 2.4rem;
}
.fs-l {
  font-size: 3.2rem;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.input textarea,
.output textarea {
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  min-height: 32rem;
}
.input textarea::placeholder {
  color: var(--dark-blue-500);
}
.output {
  width: 100%;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 4rem;
}
.output-a {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.output-a img {
  display: none;
}
.requirements {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.output-b {
  display: none;
}
.btn {
  width: 100%;
  font-size: 1em;
  border-radius: 1rem;
  padding: 1rem 0;
}
.btn-primary {
  background-color: var(--dark-blue-300);
  color: var(--light-blue-100);
}
.btn-primary:hover {
  background-color: var(--dark-blue-400);
  color: var(--light-blue-100);
}
.btn-secondary {
  background-color: var(--light-blue-100);
  color: var(--dark-blue-300);
  border: 0.1rem solid var(--dark-blue-300);
}
.btn-secondary:hover {
  background-color: var(--light-blue-200);
  color: var(--dark-blue-300);
  border: 0.1rem solid var(--dark-blue-300);
}
.btn-light {
  background-color: var(--white);
  color: var(--gray-500);
  border: 0.1rem solid var(--gray-500);
}
.btn-light:hover {
  opacity: 0.75;
}

@media screen and (min-width: 768px) {
  main {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .input textarea,
  .output textarea {
    min-height: 60rem;
  }
  .btn-group {
    display: flex;
    gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  main {
    max-width: 960px;
    flex-direction: row;
  }
  .output-a img {
    display: unset;
  }
}
